version: "3.9"

services:
  authorization_service:
    container_name: "authorization_service"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${SERVER_PORT_AUTHORIZATION}:8080"
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL_AUTHORIZATION}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME_AUTHORIZATION}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD_AUTHORIZATION}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=${SPRING_JPA_HIBERNATE_DDL_AUTO_AUTHORIZATION}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE_AUTHORIZATION}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_ENVIRONMENT=production
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=${NEW_RELIC_DISTRIBUTED_TRACING_ENABLED:-true}
    depends_on:
      - authorization_db

  authorization_db:
    container_name: authorization_db
    image: postgres:16
    ports:
      - "${POSTGRES_PORT_AUTHORIZATION}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER_AUTHORIZATION}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_AUTHORIZATION}
      - POSTGRES_DB=${POSTGRES_DB_AUTHORIZATION}
      - POSTGRES_PORT_AUTHORIZATION=${POSTGRES_PORT_AUTHORIZATION}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
